akshare==1.10.53
beautifulsoup4~=4.12.2
chardet~=5.1.0
faiss_cpu==1.7.4
lxml~=4.9.3
netaddr==0.8.0
netifaces==0.11.0
numpy~=1.25.1
pandas~=2.0.3

Pillow==10.0.0
PyPDF2==3.0.1
python_docx==0.8.11
python_pptx==0.6.21
pyttsx3==2.90
Requests==2.31.0
sat==0.7.0
sentence_transformers==2.2.2
torch~=2.0.1
torchvision==0.11.1
tqdm~=4.65.0
transformers==4.30.2
whisper==1.1.10
zhconv==1.4.3

Flask~=2.3.2